<a href="https://colab.research.google.com/github/andrewgodbout/F2025CS1910/blob/main/lectures/L18/L18-Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# L18 - Examples

In [ ]:
## Dictionary Comprehensions


numbers = [1, 2, 3, 4]
squared_dict = {num: num**2 for num in numbers}
# Result: {1: 1, 2: 4, 3: 9, 4: 16}
print(squared_dict)

#optional condition
original_dict = {'a': 10, 'b': 25, 'c': 5, 'd': 30}
filtered_and_doubled = {k: v * 2 for k, v in original_dict.items() if v > 15}
# Result: {'b': 50, 'd': 60}

print(filtered_and_doubled)

{1: 1, 2: 4, 3: 9, 4: 16}
{'b': 50, 'd': 60}

In [ ]:
# dictionary from list of tuples

data = [('apple', 1), ('banana', 2), ('cherry', 3)]
fruit_counts = {fruit: count for fruit, count in data}
# Result: {'apple': 1, 'banana': 2, 'cherry': 3}

print(fruit_counts)

#if-else condition
data = {'A': 10, 'B': 5, 'C': 12}
transformed_values = {k: "High" if v > 10 else "Low" for k, v in data.items()}
# Result: {'A': 'High', 'B': 'Low', 'C': 'High'}

print(transformed_values)

{'apple': 1, 'banana': 2, 'cherry': 3}
{'A': 'Low', 'B': 'Low', 'C': 'High'}

In [ ]:
# conditional expression

time = 13
print( "good morning" if time < 12 else "good afternoon")

good afternoon

In [2]:
# Find a Partner
import pprint
pred_prey = [ ["Bird", "Prawn", "Mussels", "Crab", "Limpets", "Whelk"],
["Crab","Mussels","Limpets"],
["Fish","Prawn"],
["Limpets","Seaweed"],
["Lobster","Crab","Mussels","Limpets","Whelk"],
["Mussels","Phytoplankton","Zooplankton"],
["Prawn","Zooplankton"],
["Whelk","Limpets","Mussels"],
["Zooplankton","Phytoplankton"] ]


#1. Load the above into a dictionary

#dictionary comprehension could do this or loops
pred_dict = { l[0] : l[1:] for l in pred_prey}
pprint.pprint(pred_dict)
#2. Apex Predators (not eaten by anyone)




#3. Identify the producers (those that eat noone else)


#4. Tastiest Organism (most eaten)


#5 Identify the omnivores

{'Bird': ['Prawn', 'Mussels', 'Crab', 'Limpets', 'Whelk'],
 'Crab': ['Mussels', 'Limpets'],
 'Fish': ['Prawn'],
 'Limpets': ['Seaweed'],
 'Lobster': ['Crab', 'Mussels', 'Limpets', 'Whelk'],
 'Mussels': ['Phytoplankton', 'Zooplankton'],
 'Prawn': ['Zooplankton'],
 'Whelk': ['Limpets', 'Mussels'],
 'Zooplankton': ['Phytoplankton']}

In [ ]:

mt1 = [99, 98, 97, 90, 82, 55]
mt2 = [96, 94, 90, 81, 47]

grades = { "MT1" : mt1,
           "MT2" : mt2 }

#also alters the mt1 list
grades["MT1"].append(46)

#changes what grades["MT1"] refers to
grades["MT1"] = grades["MT1"][0:2]

print(grades)
print(mt1)

{'MT1': [99, 98], 'MT2': [96, 94, 90, 81, 47]}
[99, 98, 97, 90, 82, 55, 46]

In [ ]:
# class participation

realnames = { "Marilyn Monroe" : "Norma Mortenson",
                    "Nicolas Cage"   : "Nicolas Coppola",
             "Albert Brooks" : "Albert Einstein",
            "Elton John" : "Reginald Dwight"}

#what is stored in rev?
rev = { realnames[k]:k for k in realnames}

print(rev)

{'Norma Mortenson': 'Marilyn Monroe', 'Nicolas Coppola': 'Nicolas Cage', 'Albert Einstein': 'Albert Brooks', 'Reginald Dwight': 'Elton John'}

In [ ]:
# Try at home

#given the following
inventory = { "apples" : 50,
             "bananas" : 100,
             "oranges" : 75,
             "grapes"  : 200 }

#1. write a function that accepts a dictionary like the above and returns a list of keys have value > 51




#2. Convert the above into a dictionary sorted by "few", "some" and "lots"

In [ ]:
# Try at home

#build on the find a partner example to determine who is a vegetarian (only eays producers)