<a href="https://colab.research.google.com/github/andrewgodbout/F2025CS1910/blob/main/lectures/L05/L05_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Examples Lecture 05

## Strings, Escape Sequences and Format Specifiers

In [ ]:
# escape sequence examples

print("\"\\Hello\n\tWorld!\\\"")

"\Hello
	World!\"

In [ ]:
# Format Specifier Example

# Construct file names that match file001.txt"

file_num = 12
file_name = f"file{file_num:03d}.txt"

print(file_name)

file012.txt

# Max value in an infinite loop

read an infinite amount of values and after each value print out the largest seen so far

In [ ]:
#initialize max_value to the smallest possible number
#this way we know every value that follows will be larger
max_value = float("-inf")

#infinite loop
while (True):
    current_value = int(input("Enter a number:"))
    max_value = max(current_value, max_value)
    print(f"max seen so far: {max_value}")

## Partner Task

Write a program to ask the user to enter 3 floating point numbers and then print the average.

Make use of the += (add and assign operator) as part of your solution.

In [ ]:
# Solution to Partner Task

#place holder

# Readability Pause

In [ ]:
# choose descriptive variable names and use pot_hole_case where appropriate

#yes
student_grade = 95

#no
sg = 49

In [ ]:
# white space with expressions
# use single spaces with binary operators
# be consistent

#yes
student_id = 29
student_id += 1
student_id = student_id + 1

#no
student_id= 29
student_id+=1
student_id =  student_id    +  1

In [ ]:
# white space with function calls
# do not put a space between parenthesis

#yes
print("hello")

#no
print ("hello")
print( "hello" )
print ( "hello" )

## Functions

In [ ]:
# Functions will make up a large part of the material between midterm1 and midterm 2
# for midterm 1 we should be comfortable calling functions like built-in functions
# not making up our own functions just yet

def abs(value):
    if value < 0:
        return -value
    return value

x = input("enter an integer value")
x = int(x)

abs_x = abs(x)

print(f"abs of {x} is {abs_x}")

enter an integer value -29

abs of x is 29

In [ ]:
float(str(f"{max(5,min(5,max(5,1)))}.25")) + int(5.25)

10.25

## Euclidean Distance

In [ ]:
import math

x1 = 1
y1 = 1
x2 = 0
y2 = 0

#what is the distance between (x1,y1) and (x2, y2)
distance = math.sqrt(pow(x2-x1,2) + pow(y2-y1,2))
print(distance)

1.0

## Try at home

In [ ]:
#prompt for first and last name, print the longer name
#hint: use max and len built-in functions

In [ ]:
#Adding machine: prompt for 2 numbers and output the sum

In [ ]:
#convert the Euclidean distance formula to use Manhattan distance instead