# Lecture 17 Dictionaries

In [4]:
# create a dictionary

#empty dictionary
my_dict = { }

#empty dictionary
my_dict2 = dict() 

#populated dictionary associating names with email addresses
friends = { "bob"             : "sacamano@ratseller.org", 
            "lloyd"           : "lbraun@gumchewer.com",
            "sidney fields"   : "sid@old.man" }

In [5]:
student = { "name"    : "Alice",
            "age"     : 75,
            "address" : "Charlottetown" }

print(student)

{'name': 'Alice', 'age': 75, 'address': 'Charlottetown'}

In [8]:
#list of students

students = [ { "name" : "Alice",
               "age"  : 75,
               "address" : "Charlottetown" }, 
             { "name" : "Bob",
               "age"  : 55,
               "address" : "Summerside" } 
           ]
print(len(students))
print(len(students[0]))
print(students[0])
print(students[1])

2
3
{'name': 'Alice', 'age': 75, 'address': 'Charlottetown'}
{'name': 'Bob', 'age': 55, 'address': 'Summerside'}

In [12]:
# Accessing Values

student = {
    "name": "Alice",
    "age": 75,
    "address": "Charlottetown"
}

# Accessing values
print(f"Student's name: {student['name']}")
print(f"Student's age: {student['age']}")

# Trying to access a non-existent key 
#(will cause an error if uncommented)
# print(student["city"])

Student's name: Alice
Student's age: 75

In [20]:
#modifying dictionaries

student = {
    "name": "Alice",
    "age": 75,
    "address": "Charlottetown"
}

print(student)

#update the student's address
student["address"] = "Morell"
print(student)

#add a new key-value pair
student["GPA"] = 4.0

print(student)

#remove a key-value pair

#del
del student["age"]
print(student)

print(student.pop("address"))

print(student)

{'name': 'Alice', 'age': 75, 'address': 'Charlottetown'}
{'name': 'Alice', 'age': 75, 'address': 'Morell'}
{'name': 'Alice', 'age': 75, 'address': 'Morell', 'GPA': 4.0}
{'name': 'Alice', 'address': 'Morell', 'GPA': 4.0}
Morell
{'name': 'Alice', 'GPA': 4.0}

In [24]:
# .pop
student = {
    "name": "Alice",
    "age": 75,
    "address": "Charlottetown"
}

age = student.pop("age")
print(age)

#pop GPA but supply a default
#the default is returned if GPA is 
#not a valid key in the dictionary
gpa = student.pop("GPA", 0.0)
print(gpa)

print(student)

75
0.0
{'name': 'Alice', 'address': 'Charlottetown'}

In [43]:
# self check

# nested dictionary 

films = { "Billy Jack" : { "genre" : "Action",
                          "release" : 1971,
                          "income" : 98000000 },
         "Fiddler on the Roof" : { "genre" : "Musical",
                                   "release" : 1971,
                                   "income" : 78000000 },
         "The French Connection" : { "genre" : "Thriller",
                                     "release" : 1971,
                                     "income" : 41000000 },
         "Bedknobs and Broomsticks" : { "genre" : "Musical",
                                        "release" : 1971,
                                        "income" : 17000000}
        }

# change the release date of Billy Jack to 1973
print(films)

{'Billy Jack': {'genre': 'Action', 'release': 1971, 'income': 98000000}, 'Fiddler on the Roof': {'genre': 'Musical', 'release': 1971, 'income': 78000000}, 'The French Connection': {'genre': 'Thriller', 'release': 1971, 'income': 41000000}, 'Bedknobs and Broomsticks': {'genre': 'Musical', 'release': 1971, 'income': 17000000}}

In [32]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Create a view object for keys
keys_view = my_dict.keys()
print(f"Initial keys view: {keys_view}")

# Modify the dictionary
my_dict['d'] = 4
print(f"Keys view after dictionary modification: {keys_view}")

Initial keys view: dict_keys(['a', 'b', 'c'])
Keys view after dictionary modification: dict_keys(['a', 'b', 'c', 'd'])
true
a
b
c
d

In [49]:
# Iterating over dictionaries
my_dict = {'a': 1, 'c': 3, 'b': 2}

my_dict['d'] = 4

#iterates over the keys 
#(in the order they were inserted)
print("iterate over keys")

for k in my_dict:
    print(k)

#iterates over the keys
for k in my_dict.keys():
    print(k)

print("iterate over values")
#iterates over the values 
for v in my_dict.values():
    print(v)

print("iterate over items")
for k,v in my_dict.items():
    print(k,v)

for item in my_dict.items():
    print(item[0], item[1])


#iterate over the keys but access the values
print("iterate keys but access value")
for k in my_dict:
    print(k, my_dict[k])

iterate over keys
a
c
b
d
a
c
b
d
iterate over values
1
3
2
4
iterate over items
a 1
c 3
b 2
d 4
a 1
c 3
b 2
d 4
iterate keys but access value
a 1
c 3
b 2
d 4

In [54]:
# class participation
#Which approach adds 10 to each value in a dictionary

my_dict={ 'a':1, 'b':2, 'c':3}

#A
for v in my_dict.values():
    v+=10
#B
for k in my_dict:
    my_dict[k] += 10

#C
for k,v in my_dict.items():
    my_dict[k] = v + 10
#D
my_dict = {k:v+10 for k,v in my_dict.items()}

print(my_dict)

{'a': 31, 'b': 32, 'c': 33}

In [ ]:
# find a partner

#1. Create a dictionary to represent a data record 

#example:

student = { "name" : "Alice",
            "id"   : 100,
            "courses" : ["CS1910", "Math1910", "Hist2010"]
          }

# your record can go below here





#print the keys and the values

In [ ]:
#2. Create a dictionary to represent a lookup table

#example phone contact list

contacts = { "Alice" : 9025556600,
             "Bob"   : 9029991100,
             "Jimmy" : 9029029020
           }

#your lookup table here






#find the key with the largest value?

In [46]:
# does a key exist?

my_dict = {'a': 1, 'c': 3, 'b': 2}
my_dict['d'] = 4

if 'd' in my_dict:
    print("\"d\" is a key")
else:
    print("not a key")

"d" is a key

In [55]:
#.get(key, default)

my_dict = {'a': 1, 'c': 3, 'b': 2}

if my_dict.get('e'):
    print('e')

## try at home 

- create a dictionary of book information (book record)

- create a dictionary to store many book records 

- update the book records to add 1 to the pages 

- use a dictionary to track the count of letters in a string

In [ ]:
# book record dictionary

In [60]:
# dictionary of books

In [59]:
# frequency of letters in a string 
"""
for example from s = "brown dog" produce:

{'b':1, 'r':1, 'o':2, 'w':1, 'n':1, 'd':1, 'g':1}

"""

s = "the quick brown fox jumps over the lazy dog"

frequency_dict = {}

#populate the frequency dict with the count of occurences of each letter