# Lecture 19 Code Examples - File I/O

In [2]:
# opening, reading and closing files


f = open("temperature.txt", "r")

#reading a file line by line
for line in f:
    print(line)
f.close()

-2.7

-1.8

0.3

2.4

3.5

5.9

In [3]:
# read line by line and store into list

f = open("temperature.txt", "r")

lines = []
for line in f:
    lines.append(line)

f.close()
print(lines)

['-2.7\n', '-1.8\n', '0.3\n', '2.4\n', '3.5\n', '5.9']

In [6]:
# remove the newlines

f = open("temperature.txt", "r")

lines = []
for line in f:
    # strip away trailing (rightside) whitespace with rstrip
    lines.append(line.rstrip()) 

f.close()
print(lines)

['-2.7', '-1.8', '0.3', '2.4', '3.5', '5.9']

In [12]:
# self-check

#what is the output?
f = open("temperature.txt", "r")

cnt = 0
for temp_line in f:
    if cnt == 0:
        mn_temp = temp_line
    if temp_line < mn_temp:
        mn_temp = temp_line
    cnt += 1
f.close()
print(f"min: {mn_temp}")

min: -1.8

In [17]:
# converting Text data 

f = open("temperature.txt", "r")

cnt = 0
for temp_line in f:
    temp_line = float(temp_line)
    if cnt == 0:
        mn_temp = temp_line
    if temp_line < mn_temp:
        mn_temp = temp_line
    cnt += 1
f.close()
print(f"min: {mn_temp}")

min: -2.7

In [18]:
# Convert to list

f = open("temperature.txt", "r")

f_list = list(f)
f_list_float = [float(flt) for flt in f_list]

#print the min
print(min(f_list_float))
f.close()

-2.7

In [20]:
# Tabular file

f = open("temptable.txt", "r")
for line in f:
    print(line.rstrip())
f.close()

1783  22  25  27  28  21  19
2214 -4   2   6   7   6   0
9934 -40 -32 -26 -21 -24 -32
5538  15  17  21  22  23  19

In [21]:
# splitting strings 

f = open("temptable.txt", "r")
for line in f:
    print(line.rstrip().split())

f.close()

['1783', '22', '25', '27', '28', '21', '19']
['2214', '-4', '2', '6', '7', '6', '0']
['9934', '-40', '-32', '-26', '-21', '-24', '-32']
['5538', '15', '17', '21', '22', '23', '19']

In [32]:
# splitting strings 

f = open("temptable.txt", "r")

lines = f.readlines()
print(lines)

['1783  22  25  27  28  21  19\n', '2214 -4   2   6   7   6   0\n', '9934 -40 -32 -26 -21 -24 -32\n', '5538  15  17  21  22  23  19']

In [33]:
# split

path = "/usr/local/bin/python"
parts = path.split('/')

print(parts)

['', 'usr', 'local', 'bin', 'python']

In [43]:
# find a partner

# read the file instructions.txt into a list of tuples (lst_tuples) with 
#the command in the 0th index and the value as an integer in the 1st index,
# 1 tuple for each line of the file 
# once this is complete execute the commands as turtle draw commands in the next cell

tuple_lst = []

#add your code below here

[('FORWARD', 100), ('RIGHT', 90), ('FORWARD', 100), ('RIGHT', 90), ('FORWARD', 100), ('RIGHT', 90), ('FORWARD', 100), ('RIGHT', 90)]

In [42]:
!pip install colabturtleplus
from ColabTurtlePlus.Turtle import *

clearscreen()

for cmd, val in tuple_lst:
    if cmd == "FORWARD":
        forward(val)
    else:
        right(val)

Requirement already satisfied: colabturtleplus in /opt/anaconda3/lib/python3.12/site-packages (2.0.1)

In [44]:
# writing text files

#running this cell a second time should overwrite the file

#creates or overwrites the file
f = open("my_file.txt", "w")

f.write("test")

f.close()

# you can examine the left side bar to view the file you created

In [45]:
# appending to an existing file

#running this cell multiple times will continue appending

f = open("my_file.txt", "a")
f.write("test")
f.close()

In [50]:
#write data to a file

numbers = [42 , 24 , 87 , 21 , 76]

f = open("numbers.txt", "w")

cnt = 0
for n in numbers:
    if cnt < len(numbers)-1:
        f.write(str(n) + ",")
    else:
        f.write(str(n))
    cnt += 1

f.close()

In [ ]:
# alternative with .join

numbers = [42 , 24 , 87 , 21 , 76]

f = open("numbers.txt", "w")
f.write( ",".join([str(n) for n in numbers]) 
f.close()

In [51]:
#.join example

phone = "-".join(["902","555","5555"])
print(phone)

902-555-5555

In [55]:
#another .join example 

data = [
[1783 , 22 , 25 , 27 , 28 , 21 , 19] ,
[2214 , -4 , 2 , 6 , 7 , 6 , 0] ,
[9934 , -40 , -32 , -26 , -21 , -24 , -32] ,
[5538 , 15 , 17 , 21 , 22 , 23 , 19] ,
]

f = open("tdata.txt", "w")

for line in data:
    f.write( ",".join([str(i) for i in data]) )

f.close()

In [56]:
# path example 
#open and print the lines of the file data.txt found in the data folder 

import os 

#relative path from the current directory
filename = os.path.join("data","data.txt")

f = open(filename)

for line in f:
    print(line.rstrip())

f.close()

10
20
30
40

## Try at home 
1. count the words in the file: gentle.txt found in the directory "poem"
2. read the text file game_board.txt into a 2D list of length 1 strings i.e., "#","#", etc
    a. report the location of the "P"
3. Ask the user to enter their first name and then create a file called their name and the extension .txt
    - on the first line of that file write the number of letters in their name
    - example: if the name is "Holden" then create a file called "Holden.txt" and write "6" into that file.

In [57]:
# try at home 1. count words in gentle.txt

In [59]:
# 2. read the text file game_board.txt into a 2D list report the location of the P

In [60]:
#3. Ask the user for input and create a file with that name and containing the length of the name